<li>
        <p>
            <% if (locals.user && (locals.user.id == comment.user.id ||locals.user.id == post.user.id )){ %>
            <small>
                <a href="/comments/destroy/<%= comment.id %>">X</a>
            </small>
            <% } %>
            <%= comment.content %>
            <br>
            <small>
                <%= comment.user.name %>
            </small>
            <% if (locals.user){ %>
                <small>
    
                    <a href="/like/toggle/?id=<%=comment._id%>&type=Comment""> <%= comment.likes.length %> Likes </a>
                </small>
            
            <% } else{ %>
            
                <small>
                    <%= comment.likes.length %> Likes 
                </small>
            
            <% } %>
        </p>    

</li>